<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="sidebar">

<div class="logo">
<span class="material-icons">memory</span>
IoT Panel
</div>

<a href="index.html">
<span class="material-icons">thermostat</span>
Dashboard
</a>

<a href="led.html">
<span class="material-icons">lightbulb</span>
LED Control
</a>

<a href="wifi.html">
<span class="material-icons">wifi</span>
WiFi Setup
</a>


</div>
</body>
</html>